.salad-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 30px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: box-shadow 200ms;
}
.salad-item:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.salads__item_type_custom {
  flex: 0 290px;
}
.salad-item_disabled {
  opacity: 0.4;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.salad-item_disabled:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.salad-item__title {
  flex: 1 0 100%;
  text-align: center;
  min-width: max-content;
  margin: 0 0 20px 0;
}

.salad-item__button {
  margin-bottom: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background: #f5deb3;
}

.salad-item__available {
  margin: 0;
  flex: 1 100%;
  font-size: 12px;
  text-align: center;
}

.icons {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin-bottom: 30px;
}
