body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
}

.section__title {
  margin: 0;
  text-align: center;
  font-size: 40px;
  width: 100%;
}

.section__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  margin: 0 auto;
}

.header__title {
  margin: 0;
}
